.createdusercontent {
  margin-top: 7px;
  
}

.createdusercontent.closed {
  margin-left: 110px;
}

.createdusercontent.open {
  margin-left: 280px;
}

@media (max-width: 768px) {
  .createdusercontent  {
    margin-left: 66px !important;
    margin-bottom: 44px;
  }
  .model.newaccount{
font-size: 15px !important;

width: 98%;
  }
  .searchbutton{
    margin-top: 20px;
  }
  .mapaddacc{
    height:300px !important;
  }
  .addaccmodaldiv{
    margin-left: 10px !important;
  }
  
}
