@media(max-width:768px){
    .cards{
        padding: 7px;
    }
    .deviceaddmap{
        width: 99% !important;
        height: 300px !important;
    }
    
}
@media(max-width:671px){
    .card{
        width:360px !important;
        
    }
    .cards{
        justify-content: center ;
    }
   
}

@media(max-width:360px){
    .control-btn-container{
        display: flex;
        margin-top: 0px !important;
    }
    .control-btn{
        padding: 0px !important;
        height: max-content;
        font-weight: 400 !important;
    }
    .card{
        font-size: 17px !important;
        padding-bottom: 5px !important;
    }
}




/* Start for map responsive */

@media(max-width:577px){
    .searchbar{
        width: 300px !important;
    }
}



/* End for map responsive */