.footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 50px;
}
.footerLogo{
    height: 40px;
    width: 35px;
    background-color: #FFFFFF;
    margin-right: 40px;
    margin-left: 10px;

}