.check-model {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
   top: 0;
   left: 0;
  }
  
  .check-model .model {
    width: 951px;
    
    margin: auto;
    border-radius: 20px;
  
    background: #fff;
    margin-top: 11%;
  }
  
  
  .cancel-button-modal:hover{
  cursor: pointer;
  color: red;
  }