.parent-div-of-table{
    margin-left: 333px;
}

  table{
    font-size: 40px;
  }
.custom-progress {
    border-radius: 20px; 
    height: 20px; /* Adjust the value as needed */
  }
  .bar{
   
    margin :45px 20px 0 333px;
  }
  .progress-bar {
    background-color: #802323 !important; /* Set the background color to your custom color */
  }
