/* This file Holds All  style related Propert Of Admin Page */

/* Heading Bar start */
.heading {
  margin-top: 30px;
  height: 47px;
  background-color: #7ee2b0;
  margin-left: 315px;
  border-radius: 50px 20px;
  padding-right: 30px;
}

.headingText {
  font-weight: 700;
  font-size: 34px;
  font-style: oblique;
  color: #ffffff;

  text-shadow: 2px 2px 1px black;
}

/* Heading Bar End */


/* UserCount Start */

.userCount {
  height: 132px;
  width: 280px;
  background-color: #c7d6ff;
  border-radius: 30px;
  margin-top: 20px;
  margin-left: 332px;
}

/* UserCount Start */

/* Table Start */

.parent-div-of-table {
  margin-top: 30px;
  margin-left: 333px;
  margin-right: 20px;
  background-color: rgb(172, 101, 219);
  border-radius: 10px;
  border: 1px solid black;
  max-height: 330px;
  overflow-y: scroll;
  
}

table {
  font-size: 20px;
}

/* Table End */

/* redirects Start  */

.redirects {
  display: flex;
  justify-content: end;
  margin-top: 30px;
  margin-left: 333px;
  margin-right: 20px;
}
/* redirects End  */