.container {
  margin-top: 35px;
  width: 100vw;
  display: grid;
  grid-auto-flow: column;
 position:absolute;
 left: 70px;
}

.mapbox {
 margin-left: 20px;
  width: 1250px;
  height:400px;
}

.weatherbox {
  margin-left: 30px;
  width: 330px;
}
.weatherdata {
  padding-left: 15px;
  height: fit-content;
}

.heading {
  font-size: 25px;
  color: rgb(27, 136, 231);
  font-weight: bold;
}
.data {
  font-size: 20px;
  font-weight: bold;
}
.tempretureimg {
  background-color: black;
  border-radius: 50%;
  height: 75px;
  margin-top: 10px;
  padding: 8px;
  margin: 10px 0 0 45px;
  /* top,right,buttom,left */
}
.humidityimg {
  background-color: black;
  border-radius: 50%;
  height: 75px;
  margin: 10px 0 0 80px;
  padding: 10px;
}
.windspeedimg {
  background-color: rgb(8, 8, 8);
  border-radius: 50%;
  height: 75px;
  padding: 10px;
  margin: 10px 0 0 53px;
}
.chartContainer{
display:flex;
justify-content: space-evenly;
position:absolute; 
top:53%; 
width: 100vw;

}
.innertextofchart{
  font-size: 25px;
  font-weight: bold;
}

.chart1{
  height: fit-content;
  width: 40%;
 margin-left: -188px;
}
.chart2{
  height: fit-content;
    width: 40%;
  }

