i {
  display: block;
  margin-top: 25px;
}
.farmerimg {
  /* position: relative; */
  font-size: 24px;
  object-fit: cover;
}
.sideNav {
  position: absolute;
  z-index: 1;
}

.logos {
  margin-top: 100px;
}
