i{
    margin: 0;
}
/* sidenavbar */
.side{
    background-color: #00216e;
    height: 100vh;
    width: 60px;
    position: absolute;
    top: 0px;
}
.logos{
    margin-top: 102px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}
.sideimg:hover{
    background-color: rgb(203, 208, 206);
    cursor: pointer;
    border-radius: 20%;
}

/* end sidenavbar */

/* topnavbar start*/
.topnavbar{
    height: 57px;
    position: relative;
}
.img1:hover,.img2:hover,.img3:hover,.img4:hover,.img5:hover{
    background-color: rgb(234, 236, 238);
    cursor: pointer;
    border-radius: 20%;
}