.topnavbar{
    height: 55px;
}
.logos{
    margin-top: 95px;

}
.sideBar{
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: #00216e;
     justify-items: center
}
.hamberger:hover{
    cursor: pointer;
}
.userNotification{
    padding-left: 20px;
}
.userNotification:hover{
background-color: rgb(128,187,241);
color: #00216e;
cursor: pointer;
border-radius: 30px;

}
.outer{
    width: 250px;
    padding-left: 4px;
    margin-top: 14px;
}

.side-menu{
    text-decoration: none;
}